<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Top 5 Esportes Brasileiros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Esportes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Seção Futebol -->
  <section class="blog-section">
    <ion-card>
      <img src="assets/brasil.webp" alt="Futebol">
      <ion-card-header>
        <ion-card-title>Futebol: O Esporte Nacional</ion-card-title>
        <ion-card-subtitle>📸Campeão da Copa do Mundo 2002</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        O futebol é, sem dúvidas, o esporte mais amado no Brasil. Desde as peladas nas ruas até os grandes estádios, o futebol tem um lugar especial no coração dos brasileiros. Com ícones como Pelé, Zico e Neymar, o Brasil tem uma tradição rica e vencedora nesse esporte.
      </ion-card-content>
    </ion-card>
  </section>

  <!-- Seção Vôlei -->
  <section class="blog-section">
    <ion-card>
      <img src="assets/volei.jpeg" alt="Vôlei">
      <ion-card-header>
        <ion-card-title>Vôlei: Domínio nas Areias e Quadras</ion-card-title>
        <ion-card-subtitle>📸Tricampeão invicto Copa do Mundo de vôlei 2019</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        O Brasil também se destaca no voleibol, tanto na versão de quadra quanto na de praia. O país já ganhou diversos campeonatos mundiais e olímpicos, tornando-se uma referência nesse esporte com atletas como Giba e Sheilla Castro.
      </ion-card-content>
    </ion-card>
  </section>

  <!-- Seção Basquete -->
  <section class="blog-section">
    <ion-card>
      <img src="assets/basquete.jpeg" alt="Basquete">
      <ion-card-header>
        <ion-card-title>Basquete: Um Esporte de Tradição</ion-card-title>
        <ion-card-subtitle>📸Seleção Campeã Copa America 2023</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Com uma trajetória de grandes conquistas, o basquete brasileiro teve seus momentos de glória com nomes como Oscar Schmidt e Hortência. Hoje, o esporte continua crescendo e ganhando espaço no cenário nacional e internacional.
      </ion-card-content>
    </ion-card>
  </section>

  <!-- Seção Natação -->
  <section class="blog-section">
    <ion-card>
      <img src="assets/natacao.jpeg" alt="Natação">
      <ion-card-header>
        <ion-card-title>Natação: Orgulho Olímpico</ion-card-title>
        <ion-card-subtitle>📸César Cielo : Multicampeão</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        A natação brasileira vem se destacando há décadas, especialmente em competições olímpicas. Com nomes como César Cielo e Thiago Pereira, o Brasil já conquistou diversas medalhas e quebrou recordes mundiais na modalidade.
      </ion-card-content>
    </ion-card>
  </section>

  <!-- Seção Futsal -->
  <section class="blog-section">
    <ion-card>
      <img src="assets/futsal.jpeg" alt="Futsal">
      <ion-card-header>
        <ion-card-title>Futsal: Talento Brasileiro nas Quadras</ion-card-title>
        <ion-card-subtitle>📸Seleção Campeã da Copa do Mundo 2024</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        O futsal é uma modalidade muito popular no Brasil e serve como base para muitos jogadores que mais tarde brilham no futebol de campo. Com jogadores como Falcão, o futsal brasileiro é reconhecido mundialmente pelo seu estilo técnico e habilidoso.
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
